:root {
    --darkGreen: #216271;
    --lightGreen: #c3e5ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: var(--lightGreen);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: var(--darkGreen);
    color: white; 
}

.profile-pic {
    flex: 0 1 auto;
    width: 4.7%;
    height: 6%;
}

h1 { 
    font-size: 200%;
    display: block;
    font-weight: bold;
}

nav {
    display: block;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

li {
    display: inline-block;
    padding: 10px;
    font-size: larger;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

ol, ul {
    list-style: none;
}

nav a {
    color: var(--lightGreen);
    font-weight: bold;
    text-decoration: none;
}

main {
    display: block;
    flex-wrap: wrap;
    margin: 1%;
}

div {
    display: block;
    padding: 20px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.container .btn {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--lightGreen);
    color: var(--darkGreen);
    font-size: 16px;
    padding: 20px 24px;
    border: 2px solid var(--darkGreen);
    cursor: pointer;
    border-radius: 5px;
}


aside {
    display: block;
    padding-right: 60px;
    padding-top: 10px;
    padding-left: 60px;
    width: 20%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--darkGreen);
    text-align: end;
}

section {
    flex: 2;
    padding-left: 20px;
    border-left: 3px solid var(--darkGreen);
}

p {
    color: var(--darkGreen);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}

.hero-img {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid var(--darkGreen);
}

/*
.prework-img {
    display: block;
    height: 50%;
    width: 50%;
    border: 1px solid var(--darkGreen);
}
*/

/*
.button {
    background-color: var(--lightGreen);
    color: var(--darkGreen);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 10px;
    width: 20px;
    transition-duration: 0.4s;
}
*/

.container .btn:hover {
    background-color: var(--darkGreen);
    color: var(--lightGreen);
}

#contact-me li {
    display: inline-block;
    text-decoration: underline;
    color: var(--darkGreen);
    font-weight: bold;
    padding: 40px;
    font-size: larger;
    justify-content: space-evenly;
}

footer {
    padding: 3%;
    text-align: center;
    background: var(--darkGreen);
}

@media screen and (max-width: 768px) {
    header,
    nav,
    main,
    container {
      flex-direction: column;
    }
}
